/* RESET CSS */
@import url("//fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: "open Sans" sans-serif;
}

body {
    font-size: 14px;
    line-height: 1.2;
    margin: 0 10px;     
}

/* HEADER */
h1 {
    font-size: 20px;
    margin: 0 0 10px 0;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

nav { list-style: none;}
a {text-decoration: none; cursor: pointer; opacity: 0.9; }
a:hover {text-decoration: underline; opacity: 1;}

header figure img {
    width: 200px;
    height: 100px;
    margin: 10px 0 10px;
}

header nav{
    border: 2px solid #000;
    border-left: 0;
    border-right: 0;
    width: 100%;
    padding: 10px 0;  
}

main {
    display: flex;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

.row a {
    font-weight: bold;
    color: #000;
}
.row a:hover, .row a:active, .row a:focus {
    font-weight: normal;
}

/* MAIN SECTION */
main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
}

.content {
    width: 80%;
    margin: 10px 0 10px 0;
}

.list-link {
    margin: 2px;
    padding: 1px;
    display: flex;
    justify-content: center;
}
.list-link a {
    border: 1px solid #000;
    margin: 1px;
    padding: 1px;
}

img {
    width: 250px;
    height: 200px;
    padding: 5px;
    border-radius: 15px;
}

/* MAIN SECTION DIV*/
div {
    display: flex;
    flex-direction: column;  
    margin: 20px 0 0 0;
}

.content {
    display: flex;
    border-bottom: 2px solid #000; 
    margin: 10px 0 0 0;
}

/* MAIN ASIDE */
aside {
    width: 40%;
    margin: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;    
}

aside img{
    width: 320px;
    height: 200px;
    padding: 10px 0 0 0;
}

.container {
    display: flex;
} 

.fo-list {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2px;
    margin: 0;
    width: 50wv;
}

.fo-list img {
    width: 50px;
    height: 30px;
    padding: 2px;
}

.list-comentarios { margin: 0 0 0 0;}

.list-comentarios img {
    border: 1px solid #000;
    border-left: none;
    border-right: none;
}

.comentarios {
    display: flex;
    flex-flow: wrap;
    border: 1px solid rgba(204, 32, 32, 0.6);
    margin: 5px 5px 5px 5px;
}

.comentarios img {
    width: 60px;
    height: 50px;
    margin-top: 4px;
}

.rede-social img {
    width: 260px;
    height: 60px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    margin: 0 0 0 30px;
}

.links {
    display: flex;
    flex-direction: row;
    margin: 10% 0 0 0;
    padding: 10px;
}

.links img {
    width: 100px;
    height: 40px;
    padding: 1px;
    margin: 2px;
}
/* MOBILE */
@media screen and (max-width: 480px) {
    body{
        margin: 0;
    }

    header nav {
        border: 2px unset #000;
        border-left: 0;
        border-right: 0;
        padding: 10px 0; 
        position: relative; 
    }

    p {
        line-height: 1.6em;
        margin: 0 0 5% 0;
        text-align: justify;
    }

    div h1 {
        margin: 0 0 10px 30%;
    }

    .row {
        flex-direction: column;
        display: flex;
    }

    .row a {
        margin: 5px 0 10px 0;
        text-align: center;
    }

    main {
        margin: 0 0 0 20px;
        display: flex;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #000;
        width: 102%;
        margin: 0 0 0 -4%;
    }

    .content img {
        padding: 0;
        margin: 0;
        width: 300px;
        height: 200px;
        margin: 5% 0 0 10%;
    }

    aside figure {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .list-link {
        margin: 2% 0 0 0;
    }
    /* INVISIVEL */
    aside {
        display: none;
    }
}

/* TABLETS MAS NAO SMARTPHONES */
@media screen and (min-width: 480px) and (max-width: 600px){
    h1 {
        margin: -15px 0 0 0;
    }

    p {
        width: 100%;
    }

    main  {
        width: 100%;
    }

    .content {
        margin: 0 0 0 0;
        width: 100%;
    }

    /* INVISIVEL */
    aside {
        display: none;
    } 

    footer {
        display: none;
    }
}

/* SUPER TABLETS (Ipad, iPado Pro, Galaxy Tab Pro e derivados */
@media screen and (min-width: 600px) and (max-width: 800px){
    main {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0;
        width: 100%;
    }

    .content {
        width: 100%;
    }

    aside {
        display: none;
    }

    footer {
        display: none;

    }
}