@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* RESET CSS*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    /* 16px padrao */
}

body {
    font-size: 1.4em;
    /* 14px */
    padding: 0 10px;
}

header {
    display: flex;
    padding: 0 5px;
}

header figure {
    display: flex;
    align-self: center;
    padding: 8px 0;
}


header .top-nav {
    display: flex;
    justify-content: space-around;
    border: 3px solid #000000;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
}

.top-nav a:hover {
    text-decoration: underline;
    font-size: 16px;
    color: #46552c;
    font: bold;
}

.menu {
    color: #4d4d4d;
    text-decoration: none;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;

}

.separator {
    font-size: 20px;
    font: bold;
}


main {
    display: flex;
}

main section {
    width: 70%;
    padding: 5px;
}

main aside {
    padding-top: 5px;
    padding-left: 5px;
}

.border-bottom {
    border-bottom: 2px solid #000000;
}

section article {
    display: flex;
    padding: 10px;
}

section figure {
    background: #eeeeee;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    /* padding: 5px 1px 1px 1px; */
}

.thumbnail {
    border-radius: 10px;
    width: 222px;
    height: 158px;
    padding: 3px 8px;
}

article div {
    padding: 0 10px;
}

p {
    padding-top: 20px;
}

.thumbnail-aside {
    width: 100%;
    padding: 5px 0;
}

h2 {
    text-align: center;
}

.pagination {
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    padding-top: 10px;
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
}

.pagination a.active {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;
}

.pagination a:hover:not(.active) {
    background-color: #bebebe;
    border-radius: 50%;
}

footer {
    padding: 0 5px;
}

footer h4{
    padding: 5px;
    border-top: 2px solid #000000;
    text-align: center;
}

@media screen and (max-width: 720px) {

    body {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
    }

    header .top-nav {
        flex-direction: column;
        padding: 0 5px;
    }

    header .top-nav a {
        padding: 5px 0;
        border-bottom: 1px solid #4d4d4d;
        text-align: center;
    }

    header .top-nav a:last-child {
        border-bottom: none;
    }

    .top-nav {
        display: none;
    }

    .separator {
        display: none;
    }

    aside {
        display: none;
    }

    main section {
        width: 100%;
    }

    section article {
        flex-direction: column;
    }

    section figure {
        padding: 7px 7px 3px 7px;
    }

    .thumbnail {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }

    div h3 {
        padding-top: 10px;
    }

}

@media screen and (max-width: 800px) and (min-width: 721px) {

    body {
        padding: 0;
        padding-right: 10px;
        padding-left: 10px;
        margin: 0;
        font-size: 1.2em;
    }

    main section {
        width: 65%;
        padding: 5px 0 5px 5px;
    }

    main aside {
        width: 35%;
        padding: 0;
        padding-right: 5px;
        padding-left: 5px;
        margin: 0;
    }
    
    section figure {
        padding-top: 7px;
    }
}
