/* RESET CSS*/

* {
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media (max-wigth: 720px) {
    body {margin: 0;}
    .row {flex-direction: column;}
    .row a {margin: 5px 0;}
    .separator {color: #787171;}
    
}

html {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    padding: 0 10px;

}

header {
    display: flex;
    flex-direction: column;

}

header img {
    display: flex;
    align-self: center;
    padding: 8px 0;
    border-radius: 0%;
}

nav {
    display: flex;
    justify-content: space-around;
    border: 2px solid #000000;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;

}

.ponto {
    font-size: 20px;
    font: bold;

}

.menu {
    display: flex;
    flex-direction: row;
    color: #4d4d4d;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;
    font-size: 16px;
    color: #46552c;
    font: bold;

}

main {
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 5px;

}

.border {
    display: flex;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0,0.3);
    padding-top: 5px;

}

article {
    display: flex;
    flex-direction: row;
    padding: 5px;
    
}

article img {
    width: 222px;
    height: 158px;
    padding: 0 5px;
    
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    
}

aside {
    width: 30%;
    padding-top: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

aside img {
    width: 100%;
    padding: 5px 0;

}

.pagination a {
    color: #000000;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 50%;

}
  
.pagination a.active {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 50%;

}
  
.pagination a:hover:not(.active) {
    background-color: #dddddd;
    border-radius: 50%;    

}

.container {
    display: inline-block;
    cursor: pointer;

}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;

}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);

}
  
.change .bar2 {
      opacity: 0;

}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);

}